@import url('https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap');
:root{
    --width:auto;
}

/* header start */

*{
    overflow-x: hidden;
}

body{
    margin:0;
}

header{
    background:linear-gradient(35deg,#B8EBF9,#F9C6B8);
    height: 3rem;
    padding: 40px 40px;
    z-index:1;
    margin-top:-20px;
    margin-left: -20px;
    margin-right: -20px;
}


header .row ul a{
    margin:0 24px;
    text-decoration: none;
    font-size:22px;
    color:black;
    font-weight: bold;
}

header .row ul a:hover{
    background:black;
    border-radius:10px;
    color:white;
}

/* end header */




body{
    text-align:center;
}

img{
    border-radius: 10px;
    width: 45rem;
}

p{
    font-weight: bold;
    text-indent: inherit;
    width: 50%;
    margin-left: 25%;
    margin-top: -3px;
    top:-8rem;
    bottom:0;
    color:white;
    position:relative;
    background:#000000;
}

.div{
    margin-top: 30px;
}

.menu{
    display:none;
    background: #F9C6B8;
    width:10rem;
    position:fixed;
    right:1rem;
    margin-top: 100px;
    text-align: center;
    z-index:3;
    padding: 10px 10px;
    top:-1rem;
}

.btn:focus{
    outline:0px;
}


.btn{
    position:fixed;
    right:6rem;
    z-index:4;
    border:none;
    background:transparent;
    cursor: pointer;
    background:#F9C6B8;
    color:white;
    top:2rem;
}
.menu ul{
    text-align: center;
}

.menu ul li{
    list-style-type: none;
}

.menu ul li a{
    text-decoration: none;
    color:white;
    font-size:20px;
    font-weight:bold;
}